

.publisherFeedItemTypeChoices{
	margin-bottom: 6px;
	position: relative;
	height: 20px;
	white-space: nowrap;
	padding-left: 0px;
}

.publishercontainer li.publisherFeedItemTypeChoice {
	display: inline;
	height: 14px;
	margin-right: 13px;
	vertical-align: top;
}

.publishercontainer a.publisherattach {
	display: inline-block;
	position: relative;
	vertical-align: top;
}

.publisherTypeOverflow.publish-select {
	margin-left: 3px;
	display: inline-block;
}

.publish-select .publish-trigger {
	text-align: left;
	display: block;
}

.publisherTypeOverflow .publish-trigger {
	left: -5px;
	white-space: nowrap;
	padding-left: 15px;
	position: relative;
	min-width: 10px;
	max-width: 300px;
	line-height: 16px;
}

.publish .publish-trigger.clicked {
	bottom: 10px;
	padding-top: 9px;
	padding-left: 14px;
	width: auto;
	border: solid;
	border-width: 1px;
	border-color: #dadada;
	border-bottom: none;
	z-index: 3;
}

.publish-options {
	border: 1px solid #4997bf;
	background-color: #fff;
	-moz-box-shadow: 0 0 4px #b1b2b4;
	-webkit-box-shadow: 0 0 4px #b1b2b4;
	box-shadow: 0 0 4px #b1b2b4;
}

.publish .publish-options {
	top: 100%;
	left: 3px;
	right: 3px;
	margin: 0;
	overflow: hidden;
}

a.publisherattach:link .publisherattachtext{
	text-decoration: none;
	font-weight: normal;
	color: #222;
}

span.truncateLabel {
	max-width: 85px;
	white-space: nowrap;
	overflow-x: hidden;
	display: inline-block;
	text-overflow: ellipsis;
}

.publishercontainer .publisherFeedItemTypeChoices a.publisherattach, a.cxcontentcommentaction, span.cxcontentcommentactiontext {
	color: #015ba7;
	font-weight: bold;
	text-decoration: none;
}

.publish .publish-options.publish-options-show{
	display: block;
}

.publisherTypeOverflow .publish-options {
	padding-left: 0px;
	position: relative;
	top: -13px;
	left: -5px;
	padding-top: 10px;
	padding-bottom: 10px;
	min-width: 10px;
	max-width: 300px;
	width: auto;
	overflow: visible;
	border-radius: 0 0 2px 2px;
	border-color: #dadada;
	border-top: none;
	z-index: 2;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

.publish-options li{
	list-style: none;
}

.publish-options li .publisherattach:hover{
	color: #015ba7;
	background-color: #e3f3ff;
	text-decoration: none;
	outline: none;
}

.publish-select .publish-options .publisherFeedItemTypeChoice {
	width: 100%;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-right: 15px;
}

.publishercontainer a.publisherattach span, a.cxcontentcommentaction span {
	margin-left: 5px;
	line-height: 16px;
	vertical-align: top;
}

.publishercontainer .publisherattach span.pArrow {
	position: absolute;
	bottom: -8px;
	left: 50%;
	margin-left: -8px;
	display: block;
	background-image: url(../images/chattersupersprite.png);
	background-position: 0 -261px;
	width: 13px;
	height: 9px;
	z-index: 2;
}

.publishercontainer .whenPostClicked .publisherTextAreaInner {
	background-image: url(/img/chatter/innershadow-normal.png);
	background-position: 0 0;
	width: 0;
	height: 0;
	width: auto;
	height: auto;
	background-color: #fff;
	background-repeat: repeat-x;
	position: relative;
	border: 1px solid #c7ccce;
	padding: 7px 7px 6px 7px;
}

.postBoxContainer {
	width: 100%;
	margin-bottom: 30px;
}
.newPostBody {
}
.newPostBodyActive {
	height: 80px;
}
.newPostButton {
	font-size: 11px;
	background-color: #8ab529;
	border: 1px solid #6c8049;
}
.newPostArea {
	height: 30px;
	width: 100%;
	font-size: 11px;
}
.newPostAreaActive {
	height: 70px;
}

.publishercontainer .bottomBar {
	padding: 9px;
	background: #f5f6f6;
	border: 1px solid #c7ccce;
	border-top: none;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	overflow: hidden;
}

.publishercontainer .bottomBarLeft {
	float: left;
}

.postTo {
	display: inline-block;
	vertical-align: top;
	line-height: 30px;
}

.postToTarget{
	font-weight: bold;
}

.publishercontainer .bottomBarRight {
	float: right;
}