body {
	font-family: sansationregular, Arial, sans-serif;
}

.btn-custom {
	color: #fff;
	background-color: #C95815;
	border-color: #222222;
}
h, a {
	color: #C95815;
}
.myUserInfo {
	width: 100%;
	height: 70px;
	//border-bottom: solid 1 grey;
}
.myUserInfoIcon {
	float: left;
}
.myUserInfoIcon img {
	width:45;
	height: 45;
}
.myUserName {
	font-weight: bold;
	margin-left: 50px;
}
.menuItem {
	width: 100%;
	clear: both;
	background: #FBD95A;
}
.menuItem:hover {
	width: 100%;
	clear: both;
	background: #C95815;
	color: #FFFFFF;
}
.menuItem:hover a {
	color: #FFFFFF;
}
.groupsLabel {
	//border-bottom: solid 1 grey;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 10px;
}
.topicsLabel {
	//border-bottom: solid 1 grey;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 10px;
}
.topic {
	margin-right: 6px;
	font-size: 11px;
}
.logoContainer {
	margin-bottom: 15px;
}
#logo {
	width: 170px;
}
.leftNav .menuItem {
  list-style: none;
  margin-left: 0;
}
.leftNav .menuItem.selected {
  background-color: #c4e7f2;
  border-radius: 5px;
}
.leftNav .menuItem .trigger {
  padding-left: 27px;
}
.leftNav .menuItem.selected .trigger {
  font-weight: 700;
  color: #333435;
  text-decoration: none;
}
.leftNav .menuItem .trigger .icon {
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  margin-right: 2px;
  text-decoration: none;
  position: absolute;
  left: 4px;
  top: 4px;
  max-height: 16px;
  max-width: 16px;
}
.leftNav .menuItem.feedTypeList .trigger .icon {
  background-image: url(../images/chattersupersprite.png);
  background-position: 0 -322px;
  width: 16px;
  height: 16px;
}
