body {
	font-family: .75em sansationregular, Arial, sans-serif;
}
body a:hover {
text-decoration: underline;
color: #015ba7;
}

.btn-custom {
	color: #fff;
	background-color: #C95815;
	border-color: #222222;
}
.myUserInfo {
	width: 100%;
	height: 70px;
	border-bottom: 1px solid #e9eaea;
	border-right: 1px solid #e9eaea;
}
.myUserInfoIcon {
	float: left;
}
.myUserInfoIcon img {
	width: 45px;
	height: 45px;
}
.newCommentContainer .myUserInfoIcon img {
  height: 30px;
  width: 30px;
}
.myUserName {
  color: #015ba7;
	font-weight: bold;
  font-size: 12px;
	margin-left: 50px;
  line-height: 30px;
}
.menuItem {
	width: 100%;
	clear: both;
}
.menuItem:hover a {
	color: #FFFFFF;
}
.groupsLabel {
	//border-bottom: solid 1 grey;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 10px;
}
.topicsLabel {
	//border-bottom: solid 1 grey;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 10px;
}
.topic {
	margin-right: 6px;
	font-size: 11px;
}
.logoContainer {
	margin-bottom: 15px;
}
#logo {
	width: 170px;
}
.leftNavWrap {
  border-right: 1px solid #e9eaea;
  height: 100%;
}
.leftNav {
  padding-left: 0;
}
.leftNav .menuItem {
  list-style: none;
  margin-left: 0;
  line-height: 23px;
  position: relative;
}
.leftNav .menuItem.selected {
  background-color: #c4e7f2;
  border-radius: 5px;
}
.leftNav .menuItem .trigger {
  color: #333435;
  padding-left: 27px;
}
.leftNav .menuItem.selected .trigger {
  font-weight: 700;
  color: #333435;
  text-decoration: none;
}
.leftNav .menuItem .trigger .icon {
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  margin-right: 2px;
  text-decoration: none;
  position: absolute;
  left: 4px;
  top: 4px;
  max-height: 16px;
  max-width: 16px;
}
/*ICONS*/
.icon {
  background-image: url(../images/chattersupersprite.png);
  width: 16px;
  height: 16px;
}
.feedTypeList {
  background-position: 0 -322px;
}
.groupListView {
  background-position: 0 -642px;
}
.topicListView {
  background-position: 0 -1362px;
}
.likeIcon {
  background-position: 0 -522px;
  margin-right: 3px;
}
/*ICONS END*/

/* FEED ITEM PAGE */
.itemIcon {
	float: left;
}
.itemContainer {
	margin-bottom: 35px;
	width: 100%	;
}
.itemIcon img {
	width: 45px;
	height: 45px;
}
.itemHeader {
	margin-left: 50px;
	margin-bottom: 5px;
	font-weight: bold;
	font-size: 12px;
  position: relative;
  top: -8px;
}
.itemBody {
	margin-bottom: 10px;
	margin-left: 50px;
}
.itemDownload {
	border: #BDBDBD solid 1px;
	padding: 10px;
	margin-bottom: 10px;
	margin-left: 50px;
}
.itemLink {
	border: #BDBDBD solid 1px;
	padding: 10px;
	margin-bottom: 10px;
	margin-left: 50px;
}
.itemLikes {
	border-top: 1px solid ;
	color: #BDBDBD;
	background: #FAFAFA;
	padding: 5px;
  margin: 20px 0px 0px 50px;
	font-size: 11px;
}
.itemTools {
	margin-left: 50px;
	margin-bottom: 5px;
	font-size: 11px;
  position: relative;
  bottom: -10px;
}
.itemTools a {
  color: #015ba7;
}
.commentContainer, .newCommentContainer {
  border-top: 1px solid #f3f3f3;
  border-bottom: 1px solid #f3f3f3;
	background: #fbfbfb;
	padding: 10px;
  padding-right: 20px;
	margin-left: 50px;
  margin-top: 20px;
}
.commentIcon {
	float: left;
}
.commentIcon img {
	width: 30px;
	height: 30px
}
.commentHeader {
	margin-left: 35px;
	font-weight: bold;
}
.commentBody {
	margin-left: 35px;
}
.commentLikes {
	margin-left: 35px;
	font-size: 11px;
}
.newCommentBody {
	font-size: 11px;
  overflow: hidden;
  margin-left: 55px;
}
.newCommentBody textarea {
  resize: none;
  margin: 0;
  overflow: hidden;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ededed;
  padding: 4px;
  line-height: 16px;
  -webkit-line-break: after-white-space;
  word-wrap: break-word;
  outline-style: none;
  border-radius: 3px;
  -moz-border-radius: 3px;
  margin-bottom: 10px;
}
.btnGrey {
  color: #222;
  border: 1px solid #c3c3c3;
  border-color: #c3c3c3 #aaa #909090;
  font-size: 9px;
  font-weight: bold;
  text-decoration: none;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #f0f0f0;
  background: -moz-linear-gradient(#fff,#f0f0f0);
  background: -webkit-linear-gradient(#fff,#f0f0f0);
  background: -ms-linear-gradient(#fff,#f0f0f0);
  padding: 3px 6px;
}
.newCommentBtn {
  float: right;
}
.actionButton {
  font-size: 11px;
  margin-right: 15px;
}
/* FEED ITEM PAGE END */
