<html>

<head>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-cookies.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="js/app.js"></script>
	<script src="js/directives.js"></script>
	<script src="js/config.js"></script>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/main.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>

<body>
<div ng-app="chatterREST" ng-controller="chatterController">
	<div class="row">
		<div class="col-xs-4 col-sm-2 col-md-2">
			<div class="logoContainer">
				<img id="logo" src="assets/bud_chatter_logo.png"/>
			</div>

			<div class="myUserInfo">
				<div class="myUserInfoIcon">
					<img src="{{myUserData.photo.smallPhotoUrl}}"/>
				</div>

				<div class="myUserName">
					{{myUserData.displayName}}
				</div>
			</div>
      <ul class="leftNav">
        <li class="menuItem feedTypeList">
          <a class="trigger" href="#" ng-click="getNewsFeed();">
            <span class="icon"></span>
            My Feed
          </a>
        </li>
        <li class="menuItem">
          <a class="trigger" href="#" ng-click="getBookmarksFeed();">My Bookmarks</a>
        </li>
        <li class="menuItem">
          <a class="trigger" href="#" ng-click="getFilesFeed();">Files Feed</a>
        </li>
      </ul>
			<div class="groupsLabel">
				My groups
			</div>

			<div>
				<group-item group="group" ng-repeat="group in groups"/>
			</div>

			<div class="topicsLabel">
				Topics
			</div>

			<div class="topicList">
				<span class="topic" ng-repeat="topic in topics">
					<a href="#" ng-click="getTopicFeed(topic.id, topic.name);">{{topic.name}}</a>
				</span>
			</div>
		</div> <!-- end of sidebar column-->

		<div class="col-xs-8 col-sm-7 col-md-7">
			<h1 ng-show="showFeed">{{currentFeedTitle}}</h1>
			<h1 ng-show="showFileFeed">Files Feed</h1>

			<post-box subject="currentFeedId" ng-show="showFeed && feedWritable && !feedLoading"></post-box>

			<div ng-show="feedLoading">
				<!--<img src="https://33.media.tumblr.com/6abb472734002fa7143f8003e771ac19/tumblr_mqm9amwnsP1sv98gio1_400.gif" width="150" height="150" />-->
			</div>

			<feed-item element="element" ng-repeat="element in feed" ng-show="showFeed"></feed-item>

			<file-item-header ng-show="showFileFeed"></file-item-header>
			<file-item item="item" ng-repeat="item in fileFeed" ng-show="showFileFeed"></file-item>
		</div> <!--end of feed column -->
	</div> <!--end of main row-->
</div>

<script>
	$(document).ready(function() {
		$("#authLink").attr("href", AUTH_LINK);
	});
</script>

</body>
</html>
