<tr>
  <td>
    <a href="#" ng-click="getFile(item.attachment.downloadUrl);" class="chatterFollowUnfollowAction" title="Follow this file to receive updates in your feed.">
      {{item.attachment.title}}
    </a>
  </td>
  <td>
    <a href="#" class="sprite-doctype_unknown_32"></a>
    <a href="#" class="fileNameLink">
      {{item.parent.name}}
    </a>
  </td>
  <td>
    <a href="#" class="filesOwnerLink">author</a>
  </td>
  <td>
    <span>
      {{item.modifiedDate | prettydate}}
    </span>
  </td>
</tr>
<!--
<div class="fileLine">
    <div class="fileLink">
      <a href="#" ng-click="getFile(item.attachment.downloadUrl);">{{item.attachment.title}}</a>
    </div>

    <div class="fileName">
      {{item.parent.name}}
    </div>

    <div class="fileDate">
      {{item.modifiedDate | prettydate}}
    </div>
</div>
<div class="fileText">
  <span ng-bind-html="item.body.text | linebreak"></span>
</div>
-->
