<div class="greyBlock">
  <input type="text" class="inputSearch" placeholder="Search All Files..." autocomplete="off">
  <button class="btnGrey" ng-click="">Search</button>
</div>
<table class="greyTable">
  <colgroup>
    <col width="14%">
    <col width="53%">
    <col width="17%">
    <col width="16%">
  </colgroup>
  <thead>
    <tr>
      <th>Actions</th>
      <th>Name</th>
      <th>Owner</th>
      <th>Last Modified</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <a href="#" class="chatterFollowUnfollowAction" title="Follow this file to receive updates in your feed."></a>
      </td>
      <td>
        <a href="#" class="sprite-doctype_unknown_32"></a>
        <a href="#" class="fileNameLink">
          config
        </a>
      </td>
      <td>
        <a href="#" class="filesOwnerLink">author</a>
      </td>
      <td>
        <span>Nov 11</span>
      </td>
    </tr>
  </tbody>
</table>
