<div class="publishercontainer publish defaultState cxchattertextareacontainer chattertextareacontainer">
	<ul class="publisherFeedItemTypeChoices">

	    <li class="publisherFeedItemTypeChoice" label="TextPost">
	        <a href="#" title="Post" class="publisherattach publisherattachTextPost withArrowAttached">
	            <span class="icon addPost" title=""></span>
	            <span class="publisherattachtext">Post</span>
	            <span class="pArrow"></span>
	        </a>
	    </li>
	    <li class="publisherFeedItemTypeChoice" style="display: none;" label="ContentPost">
	        <a href="#" title="File" class="publisherattach publisherattachContentPost">
	            <span class="icon addFile" title=""></span>
	            <span class="publisherattachtext">File</span>
	            <span class="pArrow" style="display:none;"></span>
	        </a>
	    </li>
	    <li class="publisherFeedItemTypeChoice" style="display: none;" label="CreateRecordEvent">
	        <a href="#" title="New Event" class="publisherattach eventMru  truncateLabelWrapper">
	            <span class="icon iconColor addEvent" title=""></span>
	            <span class="publisherattachtext truncateLabel">New Event</span>
	            <span class="pArrow" style="display:none;"></span>
	        </a>
	    </li>
	    <li class="publisherFeedItemTypeChoice" style="display: none;">
			<div class="publish-select publisherattach publisherTypeOverflow">
			    <a id="publisherDropdown" class="publish-trigger seeMore" href="#" title="Click to see more options">
				    <span class="triggerText">More</span>
				    <span class="publisherTypeOverflowSelected hidden">
				        <span class="publisherattachtext truncateLabel"></span>
				    </span>
				    <span class="publisherArrowContainer">
				        <b class="publish-selectArrow"></b>
				    </span>
			    </a>
			    <ul class="publish-options">
					<li>
						<a href="#" class="publisherattach truncateLabelWrapper taskMru publisherFeedItemTypeChoice" title="New Task">
							<span>
								<span class="moreTask icon iconColor" title=""></span>
								<span class="truncateLabel publisherattachtext">New Task</span>
							</span>
						</a>
					</li>
					<li>
						<a href="#" class="publisherattach truncateLabelWrapper contactMru publisherFeedItemTypeChoice" title="New Contact">
							<span>
								<span class="moreContact icon iconColor" title=""></span>
								<span class="truncateLabel publisherattachtext">New Contact</span>
							</span>
						</a>
					</li>
					<li>
						<a href="#" class="publisherattach truncateLabelWrapper callLogMru publisherFeedItemTypeChoice" title="Log a Call">
							<span>
								<span class="moreCall icon" title=""></span>
								<span class="truncateLabel publisherattachtext">Log a Call</span>
							</span>
						</a>
					</li>
					<li>
						<a href="#" class="publisherattach opportunityMru truncateLabelWrapper publisherFeedItemTypeChoice" title="New Opportunity">
							<span>
								<span class="moreOpport icon iconColor" title=""></span>
								<span class="truncateLabel publisherattachtext">New Opportunity</span>
							</span>
						</a>
					</li>
					<li>
						<a href="#" class="caseMru publisherattach truncateLabelWrapper publisherFeedItemTypeChoice" title="New Case">
							<span>
								<span class="moreCase icon iconColor" title=""></span>
								<span class="truncateLabel publisherattachtext">New Case</span>
							</span>
						</a>
					</li>
					<li>
						<a href="#" class="publisherattach leadMru truncateLabelWrapper publisherFeedItemTypeChoice" title="New Lead">
							<span>
								<span class="moreLead icon iconColor" title=""></span>
								<span class="truncateLabel publisherattachtext">New Lead</span>
							</span>
						</a>
					</li>
					<li>
						<a href="#" class="publisherattach publisherattachLinkPost publisherFeedItemTypeChoice" title="Link">
							<span>
								<span class="moreLink icon" title=""></span>
								<span class="publisherattachtext">Link</span>
							</span>
						</a>
					</li>
					<li>
						<a href="#" class="publisherattach publisherattachPollPost publisherFeedItemTypeChoice" title="Poll">
							<span>
								<span class="morePoll icon" title=""></span>
								<span class="publisherattachtext">Poll</span>
							</span>
						</a>
					</li>
					<li>
						<a href="#" class="publisherattach publisherattachQuestionPost publisherFeedItemTypeChoice" title="Question">
							<span>
								<span class="moreQuestion icon" title=""></span>
								<span class="publisherattachtext">Question</span>
							</span>
						</a>
					</li>
					<li>
						<a href="#" class="publisherattach publisherattachAnnouncementPost publisherFeedItemTypeChoice" title="Announcement">
							<span>
								<span class="moreAnnounce icon" title=""></span>
								<span class="publisherattachtext">Announcement</span>
							</span>
						</a>
					</li>  
				</ul>
			</div>
	    </li>
	</ul>

	<div class="postBoxContainer">
		<div class="newPostBody" ng-class="{newPostBodyActive : activeTextArea}">
			<div class="publisherTextAreaInner">
				<textarea class="newPostArea " ng-class="{newPostAreaActive : activeTextArea}" ng-model="postText" placeholder="Share with All Customertimes" ng-click="activeTextArea = true;"></textarea>
			</div>
		</div>
		<div class="publisherBottomBarPlaceholder">
			<div class="bottomBar">
				<div class="bottomBarLeft">
					<span class="postTo">
						<span class="postToText">To</span>
						<span class="postToTarget">All Customertimes</span>
						<span class="icon toAllCustomertimes"></span>
					</span>
				</div>
				<div class="bottomBarRight">
					<button class="btn btn-custom newPostButton " ng-click="postItem(postText); postText = '';">Share</button>
				</div>
			</div>
		</div>
	</div>

	<div class="ContentPost publisherTemplate activeTemplate" style="display:none;">
		<div class="contentPublisherSlideDown customPanel alignTop">
			<div class="panel">
				<div class="panelBody clear">
					<table class="chatterPublisherActionsContainer" cellpadding="0" cellspacing="0">
						<tbody>
							<tr>
								<td class="chatterPublisherFileActionContainerLeft">
									<a href="#" id="chatterLinkFileAction" title="Select a file from Salesforce">Select a file from Salesforce</a>
								</td>
								<td id="chatterUploadFileActionPanel">
									<a href="#" id="chatterUploadFileAction" title="Upload a file from your computer">Upload a file from your computer</a>
									<input class="file hidden" id="hiddenFileBtn" name="hiddenFileBtn" size="20" type="file">
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="publisherTextAreaPlaceholder alignCenter">
			<div class="publisherTextAreaContainer">
				<div class="publisherTextAreaInner">
					<textarea class="chatterTopicsEnabled  groupAtMentionsEnabled publishertextarea" id="publishereditablearea" name="publishereditablearea" role="textbox" tabindex="0" title="Say something about this file..." type="text" wrap="soft" data-uidsfdc="45" style="height: 48px;"></textarea>
				</div>
			</div>
		</div>
		<div class="publisherBottomBarPlaceholder">
			<div class="bottomBar">
				<div class="bottomBarLeft">
					<span class="postTo">
						<span class="postToText">To</span>
						<span class="postToTarget">All Customers</span>
					</span>
				</div>
				<div class="bottomBarRight">
					<button class="btn btn-custom newPostButton " ng-click="postItem(postText); postText = '';">Share</button>
				</div>
			</div>
		</div>
	</div>

<script type="text/javascript">
	$(document).ready(function() {
    	$(".seeMore").click(function(){
    		$(".publish-options").addClass("publish-options-show");
    	});
	});
</script>
















